/* HEADER */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
  
  .header-menu {
    display: flex;
  }
  
  .header-menu p, .logo p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .25em;
    margin: 12px 24px;
    cursor: pointer;
  }
  
  .selected {
    background-image: linear-gradient(transparent calc(100% - 6px), #f0cebe 0);
  }
  
  /* BURGER MENU */
  
  .bm-burger-button {
    position: fixed;
    width: 25px;
    height: 20px;
    right: 36px;
    top: 23px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  
  .bm-burger-bars-hover {
    /* background: #a90000; */
    opacity: 1 !important;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0px;
    width: 200px !important;
  }
  
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden !important;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bm-item-list p {
    margin: 0 0 15px;
    cursor: pointer;
  }
  
  .bm-item {
    display: inline-block;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
  }
}

/* ALT HEADER */
#header-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 20px;

  .logo {
    margin: 50px 0;
  }
  
  .header-menu {
    display: flex;
    width: 90%;
    max-width: 500px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  h1 {
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    font-family: Playfair Display, sans-serif;
  }
  
  p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .25em;
    margin: 12px 12px;
    cursor: pointer;
  }
  
  .selected {
    background-image: linear-gradient(transparent calc(100% - 6px), #f0cebe 0);
  }
}

/* FOOTER */
#footer {
  background-color: #c0e1cf;
  padding: 80px 0;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  p {
    margin: 5px 0;
    font-weight: 300;
  }
}

/* PROJECT IMAGE */
.project-wrapper {
  padding: 5px;
  width: 25%;
  box-sizing: border-box;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow .3s;
}

.project:hover {
  box-shadow: 0 0 10px rgba(33,33,33,.888);
}

.project img {
  max-width: 150%;
  min-height: 100%;
}

.project-info {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info p {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
}

.project-info span {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: #696969;
}

.project-info span:nth-of-type(1) {
  margin-right: 10px;
}

.project-info i {
  color: #696969;
  font-size: 14px;
  margin-right: 5px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
}

.select-wrapper {
  width: 300px;
  margin: 20px 10px 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .project-wrapper {
    width: 33.3%;
  }
}

@media screen and (max-width: 850px) {
  .project-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 801px) {
  #header .burger-menu {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #header .header-menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .project-wrapper {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
  }

  #header-alt {
    h1 {
      font-size: 30px;
    }
  }
}