.project-container {
  padding: 0 50px;
  max-width: 800px;
  margin: 0 auto;

  >p {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}

.image-gallery {
  margin-bottom: 30px;
}

.image-gallery-slides {
  max-height: 440px;
}

.fullscreen {
  .image-gallery-slides {
    max-height: inherit;
  }
}