.slick-next:before, .slick-prev:before {
  color: #f0cebe;
  font-size: 30px;
}

.slick-next, .slick-prev {
  width: 28px;
  height: 28px;
}

.slick-dots li::before {
  content: none;
}
.slick-dots button:before {
  color: #f0cebe !important;
  font-size: 10px !important;
}
.slick-dots button:focus {
  box-shadow: none !important;
}

.carousel {
  padding: 40px;
}

.carousel-slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-slider h3 {
  font-size: 80px;
  line-height: 90px;
  font-weight: 300;
  margin: 0;
}

.carousel-slider p {
  font-weight: 300;
}

.carousel-slider span {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

.carousel-text {
  width: 55%;
}

.carousel-image {
  width: 35%;
}

.carousel-image img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .carousel-slider h3 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 300;
    margin: 0;
  }
  .carousel-slider p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .carousel-slider {
    flex-direction: column;
  }
  .carousel-text {
    width: 80%;
    text-align: center;
  }
  .carousel-image {
    width: 70%;
  }
}