.slick-slide img {
  /* margin: auto; */
}

.slick-next:before, .slick-prev:before {
  color: #f0cebe;
  font-size: 30px;
}

.slick-next, .slick-prev {
  width: 28px;
  height: 28px;
}

.carousel {
  padding: 40px;
}

.carousel-slider>div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-slider p {
  font-size: 80px;
  line-height: 100px;
  font-weight: 300;
  margin: 0;
}

.carousel-slider span {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}