.banner {
  max-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.banner img {
  position: relative;
  width: 100%;
  opacity: 0.6;
}

.banner div {
  position: absolute;
  text-align: center;
}

.banner h1, .banner h3 {
  margin: 0;
  font-weight: normal;
}

.banner h1 {
  font-size: 50px;
  opacity: 0.9;
}

.banner h3 {
  font-size: 25px;
  position: relative;
  top: -10px;
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .banner h1 {
    font-size: 40px;
  }
  .banner h3 {
    font-size: 20px;
  }
}